.container {
	height: 100%;
	text-align: center;
	background-color: black;
	color: white;

	.header {
		font-size: 3em;
		padding: 2rem;
		margin: 0;
	}

	.icon {
		width: 64px;
		padding: 1rem;
	}

	.image {
		width: 100%;
	}

	.section {
		display: flex;
		flex-direction: column;
		padding: 0rem 1rem 2rem;
	}

	p {
		font-size: 2em;
	}

	button {
		font-size: 2em;
		padding: 0.75rem 1rem;
		border-radius: 8px;
		border: solid 2px black;
		background-color: rgb(139, 182, 168);

		transition: all 250ms;
	
		cursor: pointer;
	
		&:focus {
			outline: none;
		}
	
		&:active {
			transform: translateY(0.125rem);
		}
	}
}