<div class="container">
	<h1 class="header">Felicidades María</h1>
	<img class="icon" src="assets/birthday.svg">
	<img class="icon" src="assets/birthday.svg">
	<img class="icon" src="assets/birthday.svg">

	<img class="image" src="assets/foto.jpg">

	<div class="section">
		<p>Espero que te guste este viaje para 2 personas a</p>
		<button>
			<span>Desvelar</span>
		</button>
	</div>
	
	<div class="section">
		<p>Incluye:</p>

		<button>
			<span>Desvelar 1</span>
		</button>

		<button>
			<span>Desvelar 2</span>
		</button>

		<button>
			<span>Desvelar 3</span>
		</button>
	</div>
</div>