.container {
	height: 100%;
	text-align: center;
	background-color: black;
	color: white;

	.header {
		font-size: 3em;
		padding: 2rem;
		margin: 0;
	}

	.icon {
		width: 64px;
		padding: 1rem;
	}

	.image {
		width: 100%;
	}

	.section {
		display: flex;
		flex-direction: column;
		padding: 0rem 1rem 2rem;
	}

	p {
		font-size: 2em;
	}

	.card_container {
		position: relative;
		perspective: 1000;
		height: 40px;
		z-index: 1;
	}

	.card {
		height: 100%;
		width: 100%;
		transform-style: preserve-3d;
		transition: all 1.0s linear;
	}

	.card_container:hover .card {
		transform: rotateY(180deg);
	}

	.face {
		position: absolute;
		backface-visibility: hidden;
		height: 100%;
		width: 100%;

		display: block;
		box-sizing: border-box;
		text-align: center;
		border-radius: 8px;
		font-size: 2em;

		&.back {
			transform: rotateY(180deg);
		}
	}

}
