<div class="container">
	<h1 class="header">Felicidades María</h1>
	<img class="icon" src="assets/birthday.svg">
	<img class="icon" src="assets/birthday.svg">
	<img class="icon" src="assets/birthday.svg">

	<img class="image" src="assets/foto.jpg">

	<div class="section">
		<p>Espero que te guste este viaje para 2 personas a</p>
		
		<div class="card_container">
			<div class="card">
				<div class="face front">
					<div>Desvelar</div>
				</div>
		
				<div class="face back">
					<div>Caldea</div>
				</div>
			</div>
		</div>
	</div>
	
	<p>Incluye:</p>

	<div class="section">
		<div class="card_container">
			<div class="card">
				<div class="face front">
					<div>Desvelar 1</div>
				</div>
		
				<div class="face back">
					<div>Hotel 4*</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="card_container">
			<div class="card">
				<div class="face front">
					<div>Desvelar 2</div>
				</div>
		
				<div class="face back">
					<div>Spa 4h</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="card_container">
			<div class="card">
				<div class="face front">
					<div>Desvelar 3</div>
				</div>
		
				<div class="face back">
					<div>Masaje 1h</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section"></div>
</div>
